.breadcrumb {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    text-align: left;
}

.breadcrumb a {
    color: #444;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #1ec6b6;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: black !important;
    font-weight: 700;
}

.breadcrumb-item.active, .breadcrumb-item a, .breadcrumb-item {
    font-size: 14px;
    line-height: normal;
}