@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Markazi+Text:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Rokkitt:wght@100&display=swap");

html {
}

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  font-size: 15px;
}

h1 {
}

.header-title {
  font-size: 35px;
  margin-bottom: 0;
}

.warpped {
  padding: 0px 50px;
}

.layout-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 170px 100px 320px;
  gap: 20px;
  padding: 10px 0px;
  justify-self: center;
}

.layout-item {
  border-radius: 10px;
  overflow: hidden;
}

.layout-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.layout-item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.layout-item:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/3;
}
.layout-item:nth-child(4) {
  grid-column: 1/3;
  grid-row: 3/4;
}

.layout-item:last-child {
  grid-column: 3/5;
  grid-row: 3/4;
}

.layout-item .layout-video {
  width: 100%;
  height: 100%;
}

.time-line h2 {
  font-size: 20px;
}

.time-line {
  margin-top: 50px;
}

.destination {
  border: 1px solid #ececec;
  border-radius: 10px;
}

.destination li {
  padding: 0px 15px;
}

.destination:first-child li {
  position: relative;
}

.destination-item .duration {
  margin-bottom: 6px;
}

.destination-item .detail {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  position: relative;
}

.container .content span {
  font-size: 13px;
  font-style: italic;
}

.box-hotline {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 40px;
  background-color: #fff;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #f5f5f5;
  border-top: 3px solid #e12d36;
  top: 40px;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-hotline .box-content {
  padding: 10px 10px;
}

.note {
  font-size: 12px;
}

.price-origin {
  text-decoration: line-through;
  font-size: 13px;
  color: #888;
}

.btn {
  text-align: center;
  display: grid;
}

.btn .contact_btn,
.book_btn {
  width: 120px;
  margin: 10px 30px;
  border: 2px solid #e12d36;
  background-color: white;
  border-radius: 10px;
}

.map-tour {
  width: 100%;
}

.map-header {
  text-align: left;
}

.map-title {
  font-size: 20px;
}

.map-content {
  box-shadow: 0px 1px 2px rgba(3, 18, 26, 0.2);
}

.map-content {
  border: 1px solid #016c8d;
  border-radius: 10px;
}

.map-location iframe {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border: 0;
  allowfullscreen: "";
  loading: lazyy;
  referrerpolicy: "no-referrer-when-downgrade";
  padding: 20px 20px;
  overflow: hidden;
}

/*  Start Feedback Box */
.box-feedback {
  border: 1px solid #016c8d;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 13.4px 0px;
}

.feedback-content {
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 1px solid #07dbee44;
  border-radius: 5px;
}

.feedback-content-avt {
  margin-right: 15px;
}

.feedback-content-avt img {
  border-radius: 50%;
}

.feedback-content-detail-top {
  display: flex;
  margin: -10px 0px 0px;
}

.feedback-content-detail-top h3 {
  margin-right: 8px;
}

.feedback-content-detail-bottom p {
  margin: 0;
  margin-top: -10px;
}

/*------------------------------*/

/* .destination {
  position: relative;
}

.destination::before {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #e12d36;
  top: 0;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
} */

.destination li {
  position: relative;
  padding-bottom: 18px;
  list-style: none;
}

.destination li::after {
  content: " ";
  position: absolute;
  top: 18px;
  left: -13.5px;
  width: 1px;
  height: 100%;
  border-right: 2px dashed #ccc;
  z-index: 0;
}

.destination li::before {
  content: " ";
  font-size: 11px;
  font-weight: 900;
  background-color: rgb(136, 136, 136);
  left: -17px;
  top: 5px;
  z-index: 1;
  width: 11px;
  height: 11px;
  border-radius: 50px;
  position: absolute;
}

.destination li:last-child:after {
  height: 0px;
}

/* Start: Logo And Search */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 225px;
  flex: 19% 0 0;
  margin-right: 30px;
}
header .logo a {
  display: block;
  padding: 14px 0;
}
header .logo img {
  aspect-ratio: auto;
  width: 100%;
  height: auto;
}
/* header .search-bar{
    flex: 25% 0 0;
    padding: 16px 0;
}
header .search-bar .form-control{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: none;
    padding-left: 45px;
    height: 42px;
}
header .search-bar .form-control:focus{
    color: #333;
}
header .search-bar form{
    position: relative;
}
header .search-bar form i.fas{
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 14px;
    opacity: .5;
} */

header .nav-menu-responsive {
  display: none;
}
header .btn-toggle-menu,
header .btn-toggle-search {
  display: none;
}
header .nav-menu {
  display: flex;
  align-content: center;
}
header .nav-menu .main-menu {
  float: right;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
header .nav-menu .menu-item {
  float: left;
}
header .nav-menu .menu-item a {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 29px 20px;
  display: block;
}
header .nav-menu .menu-item a:hover,
header .nav-menu .menu-item a:focus {
  text-decoration: none;
  color: #008579;
}
header .login-btn {
  height: 32px;
  width: 120px;
  background: #008579;
  padding: 4px 16px;
  border-radius: 30px;
  border: none;
  /* border-radius: 30px;
    height: 42px;
    padding: 0 25px;
    line-height: 42px; */
}
header .login-btn a {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
a,
button,
.btn {
  font-family: "Manrope", sans-serif !important;
  font-weight: 500;
}
.btn {
  border-radius: 30px;
  height: 42px;
  padding: 0 25px;
  line-height: 42px;
}
.btn-default {
  background-color: #008579;
  color: white;
  font-weight: bold;
}

.menu-item a {
  text-decoration: none;
}
h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

/* Start Box Booking */
.booking-tour {
  height: 100%;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-size: 20px;
}

.tourpackage-body {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ececec;
  padding: 22px;
  margin-top: 20px;
  width: 50%;
}
.title {
  font-size: 20px;
  color: red;
}
.tourpackage-body-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tourpackage-body-detail h3,
span {
  font-size: 19px;
  margin-right: 5px;
  text-transform: capitalize;
}

.tourpackage-body-detail .booking-tour .container b {
  font-size: 20px;
  color: #e12d36;
  font-weight: 700;
}
.btn-booking-tour {
  width: 100px;
  height: 35px;
  background: #fff;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

.tourpackage-body.active {
  border: 1px solid red;
}

/* Start Box Booking */
